@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    /* @apply bg-[#121212] text-white tracking-wide */
    @apply bg-[#232741] text-white tracking-wide
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#9ddb64] to-[#30aa50]
  }

}

 #tsparticles {
  position: absolute;
  top: 85px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1; 
} 




.mainbody {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.maincontainer {
  position: relative;
}

* {
  z-index: 10;
  /* border: 1px solid red; */
}

.ball {
  position: fixed;
  top: 8px;
  left: -16px;
  /* padding: 5px; */
  z-index:999;
  cursor:grab;
}

.sidebar {
  padding-top: 1px;
  padding-left: 8px;
}

.sidebar-border {
  padding-top: 2px;
}